{% extends 'base.html' %}

{% block title %} Add Groups{% endblock %}

{% block content %}

<h2>Add a new group</h2>
<form action="{% url 'users:groups_add' %}" method="post">
    {% csrf_token %}
    <div class="area">
        <textarea name="Name" required="" placeholder="Group's name" cols="15" rows="1"></textarea>
        <textarea name="Slug" required="" placeholder="Slug" cols="10" rows="1"></textarea>
        <textarea name="Description" required="" placeholder="Description" cols="30" rows="1"></textarea>
    </div>
        <button type="submit" class="add_post">Add group</button>
</form>

{% endblock %}